<a href="https://colab.research.google.com/github/com0040/python-and-data-anlysis-basic/blob/main/12_%EB%B0%98%EB%B3%B5%EB%AC%B8_FOR%EB%AC%B8%09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

요청한만큼 순서대로 반복하는 반복문.

* for문의 기본구조
```
for 변수이름 in 반복하고싶은것(리스트,튜플,딕셔너리,문자열 등):
    수행할 코드 1
    수행할 코드 2
```

In [1]:
for i in 'Hello':
    print(i)

H
e
l
l
o

In [2]:
for i in ['홍길동','이순신','아이유']:
    print(i)

홍길동
이순신
아이유

In [4]:
for i in {'이름':'홍길동','성별':'남자','나이':30}:
    print(i)

이름
성별
나이

* for문의 범위 반복.

In [5]:
for i in range(10): # 시작 = 0
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,10,2): # 1부터 10까지 2씩 증가.
    print(i)

1
3
5
7
9

* 2중 for문.

In [7]:
for i in range(2,10):
    for j in range(1,10):
        print('{} X {} = {}'.format(i,j,i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

* 리스트 내포.

In [8]:
box = [i for i in range(1,6)] # 1~6까지 반복한 것이 리스트의 성분이다
print(box)

[1, 2, 3, 4, 5]

In [10]:
box = [i for i in range(1,6) if i % 2 == 0]
# box의 성분은 1~6까지 반복한 것 중 2로 나누었을때 나머지가 0인 것이다.
print(box)

[2, 4]

▶ 실전문제.

In [11]:
'''
로또 번호는 1번부터 45번까지 존재하고, 중복되지 않은 6개의 조합으로 당첨번호를 추첨합니다. 
로또 당첨 번호가 총 몇 개의 조합이 있는 지 for문을 사용해서 로또 당첨 번호의 총 개수를 구해보세요
'''
lotto = 0
for i in range(1,46):
    for j in range(i+1,46): 
        for k in range(j+1,46):
            for l in range(k+1,46):
                for m in range(l+1,46):
                    for n in range(m+1,46):
                        lotto += 1
print(lotto)

8145060