<a href="https://colab.research.google.com/github/com0040/python-and-data-anlysis-basic/blob/main/13_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

어떤 일을 수행한 다음에 그 결과를 내어놓는 것.

* 함수
```
def 함수명(매개변수):
    <수행할 문장 1>
    <수행할 문장 2>
```
```
def 함수명(매개변수):
    <수행할 문장 1>
    ...
    return 결과값
```

* 입력값이 없는 함수

In [1]:
def say():
    return 'Hi'

say()

'Hi'

* 반환 값이 없는 함수.

In [2]:
def add(a,b):
    print('%d, %d의 합은 %d 입니다.' %(a,b,a+b))

add(1,3)

1, 3의 합은 4 입니다.

* 입력 값도 반환 값도 없는 함수.

In [3]:
def say():
    print('Hi')

say()

Hi

* 입력 값이 몇 개가 될지 모를 떄.
```
def 함수이름(*매개변수):
    <수행할 문장>
```
```
def 함수이름(매개변수1, *매개변수):
    <수행할 문장>
```

* 입력 값을 딕셔너리로 받을 때.
```
def 함수이름(**.매개변수):
    <수행할 문장>
```

In [6]:
def print_kwarngs(**a):
    print(a)

print_kwarngs(a=1)

print_kwarngs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

* 특별한 상황일 때 함수를 빠져나가고 싶다면.

In [7]:
def say_nick(nick):
    if nick == '바보':
        return
    print('나의 별명은 {} 입니다.'.format(nick))

say_nick('천재')
say_nick('바보')

나의 별명은 천재 입니다.

* 기본값 설정.

In [9]:
def say_myself(name, old, man = True):
    print('나의 이름은 {} 입니다.'.format(name))
    print('나이는 {} 입니다.'.format(old))
    if man == True:
        print('남자입니다.')
    else:
        print('여자입니다.')

say_myself('이창재',28)

나의 이름은 이창재 입니다.
나이는 28 입니다.
남자입니다.

* 함수 안에서 사용되는 변수는 함수 안에서만 사용이 된다.

In [10]:
a = 1 # 전역변수.

def vartest(a):
    a = a + 1 # 지역변수.

vartest(a)
a

1

In [16]:
a = 1 # 전역변수.

def vartest():
    global a
    a = a + 1 # 지역변수.

vartest()
print(a)

2

* lambda
```
add = lambda a, b, a+b
```

In [18]:
'''
피보나치 수열에서 위치에 해당하는 값을 반환해주는 함수를 완성해보세요. 
예) fibo함수에 5를 전달하면 5번째 피보나치 수열의 값을 반환하면 됩니다.

피보나치 수열 : 0, 1, 1, 2, 3, 5, 8, 13, 21 ...

def fibo(n):
?   

ex)
fibo(5)
3

fibo(7)
8
'''
def fibo(n):
    if n == 1:
        return 0
    elif n== 2:
        return 1
    else:
        return fibo(n-2) + fibo(n-1)
        
print(fibo(5))
print(fibo(7))

3
8