<a href="https://colab.research.google.com/github/com0040/python-and-data-anlysis-basic/blob/main/4_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EC%9E%90%EB%A3%8C%ED%98%95%09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 리스트 자료형

In [ ]:
a = []
b = ['text1','text2']
c = [1,3,5,'text1','text2']
d = [1,2,3,[4,5]]

* 리스트 인덱싱

In [ ]:
list1 =[1,3,5,4,2]
print(list1[0])
print(list1[-1])

1
2

* 리스트 덧셈

In [ ]:
a = [1,2,3]
b = [4,5,6]
print(a+b) # 뺄셈은 불가하다다

[1, 2, 3, 4, 5, 6]

* 리스트 곱셈

In [ ]:
list1 = [1,2,3]
print(list1*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

* 리스트 길이 구하기

In [ ]:
list1 = [1,2,3]
print(len(list1))

3

* 리스트 값 변경하기

In [ ]:
list1 = [1,3,5,4,2]
list1[1] = 10
print(list1)

[1, 10, 5, 4, 2]

* 리스트 값 삭제하기

In [ ]:
list1 = [1,3,5,4,2]
del list1[1]
print(list1)

[1, 5, 4, 2]

In [ ]:
list1 = [1,3,5,4,2]
del list1[2:]
print(list1)

[1, 3]

* 리스트 전용함수 : append

In [ ]:
list1 = [1,3,5,4,2]
list1.append(7)
print(list1)

[1, 3, 5, 4, 2, 7]

* 리스트 전용함수 : sort

In [ ]:
list1 = [1,3,5,4,2]
list1.sort()
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
list1 = [1,3,5,4,2]
list1.sort(reverse = True)
print(list1)

[5, 4, 3, 2, 1]

In [ ]:
list1 = ['car', 'apple', 'banna']
list1.sort()
print(list1)

['apple', 'banna', 'car']

* 리스트 전용함수 : reverse

In [ ]:
list1 = ['car', 'apple', 'banna'] # 지금있는는 순서를 뒤집는다
list1.reverse()
print(list1)

['banna', 'apple', 'car']

* 리스트 전용함수 : index

In [ ]:
list1 = ['car', 'apple', 'banna'] 
print(list1.index('apple')) # apple의 인덱스를 찾아준다

1

* 리스트 전용함수 : insert

In [ ]:
list1 = [1,3,5,4,2]
list1.insert(1,7) # index 1 에 7을 넣어라
print(list1)

[1, 7, 3, 5, 4, 2]

* 리스트 전용함수 : remove

In [ ]:
list1 = [1,3,5,4,2]
list1.remove(5) # 가장 먼저 발견한 5를 제거해라 / 기록남지않음음
print(list1)

[1, 3, 4, 2]

* 리스트 전용함수 : pop

In [ ]:
list1 = [1,3,5,4,2]
a= list1.pop() # 맨뒤 인덱스의 값을 빼서 a에 저장하시오
print(list1)
print(a)

[1, 3, 5, 4]
2

In [ ]:
list1 = [1,3,5,4,2]
a= list1.pop(0) # 0번째 인덱스의 값을 빼서 a에 저장하시오
print(list1)
print(a)

[3, 5, 4, 2]
1

* 리스트 전용함수 : count

In [ ]:
list1 = [1,3,5,4,2,2,2]
print(list1.count(2)) # 리스트에서 2의 갯수를 세시오오

3

* 리스트 전용함수 : extend

In [ ]:
list1 = [1,3,5,4,2,2,2]
list1.extend([1,1,1]) # append 와 다르게 여러 개를 한 번에 더함
print(list1)

[1, 3, 5, 4, 2, 2, 2, 1, 1, 1]