<a href="https://colab.research.google.com/github/com0040/python-and-data-anlysis-basic/blob/main/5_%ED%8A%9C%ED%94%8C_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 튜플 자료형

In [ ]:
tuple1 = (1,2,3)
tuple2 = (1,2,3,[4,5])

* 튜플 값 변경하기

In [1]:
a = (1,3,5,4,2)
a[2] = 10
print(a) # 에러발생

TypeError: ignored

* 튜플 값 삭제하기기

In [ ]:
a = (1,3,5,4,2)
del a[2]
print(a) # 에러발생

* 튜플 자료형

1. 튜플은 한번 정하면 절대 수정하거나 삭제할 수가 없다.
2. 하나의 변수에 여러 개의 값을 할당하면, 자동으로 튜플로 묶어 저장해준다.
3. 기본적으로는 하나의 값은 취급하지 않는다.

* 튜플 인덱싱(접근)

In [2]:
tuple1 = (1,3,5,4,2)
print(tuple1[0])
print(tuple1[-1])

1
2

* 튜플 슬라이싱

In [3]:
tuple1 = (1,3,5,4,2,0,7)
print(tuple1[2:5])
print(tuple1[3:])
print(tuple1[:5])

(5, 4, 2)
(4, 2, 0, 7)
(1, 3, 5, 4, 2)

* 튜플 덧셈

In [4]:
a = (1,2,3)
b = (4,5,6)
print(a + b)

(1, 2, 3, 4, 5, 6)

* 튜플 곱셈

In [5]:
a = (1,2,3)
print(a * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

* 튜플 길이 구하기

In [6]:
a = (1,2,3)
print(len(a))

3

* 튜플을 리스트로 변환하기

In [7]:
a = (1,3,5,4,2)
a = list(a)
print(a)

[1, 3, 5, 4, 2]

* 리스트를 튜플로 변환하기

In [8]:
a = [1,3,5,4,2]
a = tuple(a)
print(a)

(1, 3, 5, 4, 2)