<a href="https://colab.research.google.com/github/com0040/python-and-data-anlysis-basic/blob/main/6_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

대응 관계를 나타낼 수 있는 자료형

* 딕셔너리 자료형

In [1]:
dic = {'이름':'홍길동','성별':'남자','나이':30}
print(dic)

{'이름': '홍길동', '성별': '남자', '나이': 30}

1. 딕셔너리는 무조건 Key값 기준으로 판단하고, 수행한다.
2. 딕셔너리는 집합 형태로 구성되어 있어, 순서가 없다.
3. Key값으로 리스트를 쓸 수 없다.
4. 중복된 Key값은 존재할 수 없다.
5. Key값으로 튜플은 가능하다.

* 딕셔너리에 값 추가하기

In [2]:
dic = {'이름':'홍길동','성별':'남자','나이':30}
dic['사는곳'] = '수원'
print(dic)

{'이름': '홍길동', '성별': '남자', '나이': 30, '사는곳': '수원'}

* 딕셔너리에 값이 있는지 확인하기

In [3]:
dic = {'이름':'홍길동','성별':'남자','나이':30}
print('이름' in dic)
print('홍길동' in dic)

True
False

* 딕셔너리 값 삭제하기.

In [4]:
dic = {'이름':'홍길동','성별':'남자','나이':30}
del dic['나이']
print(dic)

{'이름': '홍길동', '성별': '남자'}

* 딕셔너리 Key값에 접근하기.

In [6]:
dic = {'이름':'홍길동','성별':'남자','나이':30}
print(dic['이름'])

홍길동

* 딕셔너리는 Key 값에만 접근 가능하다.

In [7]:
dic = {'이름':'홍길동','성별':'남자','나이':30}
print(dic['홍길동']) # 에러

KeyError: ignored

* 딕셔너리 값 변경하기.

In [8]:
dic = {'이름':'홍길동','성별':'남자','나이':30}
dic['이름'] = '강동원'
print(dic)

{'이름': '강동원', '성별': '남자', '나이': 30}

* 딕셔너리는 중복된 Key값을 가질 수 없다.

In [9]:
dic = {'이름':'홍길동','이름':'강동원'} # 나중것으로 저장됨
print(dic)

{'이름': '강동원'}

* 딕셔너리 전용 함수 : key()

In [10]:
dic = {'이름':'홍길동','성별':'남자','나이':30}
print(dic.keys())
print(list(dic.keys()))

dict_keys(['이름', '성별', '나이'])
['이름', '성별', '나이']

* 딕셔너리 전용 함수 : values()

In [11]:
dic = {'이름':'홍길동','성별':'남자','나이':30}
print(dic.values())
print(list(dic.values()))

dict_values(['홍길동', '남자', 30])
['홍길동', '남자', 30]

* 딕셔너리 전용 함수 : items()

In [12]:
dic = {'이름':'홍길동','성별':'남자','나이':30}
print(dic.items())
print(list(dic.items()))

dict_items([('이름', '홍길동'), ('성별', '남자'), ('나이', 30)])
[('이름', '홍길동'), ('성별', '남자'), ('나이', 30)]

In [13]:
'''
죠스바 1200원, 메로나 1500원, 월드컵 1800원

1. 위의 아이스크림 정보를 아이스크림 이름은 Key값, 가격은 Value으로 하는 딕셔너리를 만드신 후, 변수 dic에 할당해보세요.
2. 1에서 만든 변수 dic에 붕어싸만코 2000원에 대한 정보를 추가해보세요. (이름은 Key, 가격은 Value)
3. 변수 dic에서 메로나에 대한 정보를 삭제해주세요.
4. 변수 dic에서 죠스바의 가격을 1500원으로 변경해주세요.
5. 변수 dic을 화면에 출력해보세요.
6. 변수 dic의 Key값들만 모두 출력해주세요.
7. 변수 dic의 Value값을만 모두 출력해주세요.
'''

dic = {'조스바':'1200원','메로나' : '1500원','월드컵':'1800원'}
dic['붕어싸만코'] = '2000원'
del dic['메로나']
dic['조스바'] = '1500원'
print(dic)

print(dic.keys())
print(list(dic.keys()))
print(tuple(dic.keys()))

print(dic.values())
print(list(dic.values()))
print(tuple(dic.values()))

print(dic.items())
print(list(dic.items()))
print(tuple(dic.items()))

{'조스바': '1500원', '월드컵': '1800원', '붕어싸만코': '2000원'}
dict_keys(['조스바', '월드컵', '붕어싸만코'])
['조스바', '월드컵', '붕어싸만코']
('조스바', '월드컵', '붕어싸만코')
dict_values(['1500원', '1800원', '2000원'])
['1500원', '1800원', '2000원']
('1500원', '1800원', '2000원')
dict_items([('조스바', '1500원'), ('월드컵', '1800원'), ('붕어싸만코', '2000원')])
[('조스바', '1500원'), ('월드컵', '1800원'), ('붕어싸만코', '2000원')]
(('조스바', '1500원'), ('월드컵', '1800원'), ('붕어싸만코', '2000원'))