<a href="https://colab.research.google.com/github/com0040/python-and-data-anlysis-basic/blob/main/7_%EC%A7%91%ED%95%A9_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 집합 자료형.

In [1]:
s1 = set([1,2,3])
s1

{1, 2, 3}

1. 순서가 없다.
2. 중복을 혀용하지 않는다.

In [2]:
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

* 교집합.

In [3]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2

{4, 5, 6}

* 합집합.

In [4]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

* 차집합.

In [6]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 - s2

{1, 2, 3}

In [7]:
s2 - s1

{7, 8, 9}

* 집합 전용 함수 : add

In [8]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

* 집합 전용 함수 : update

In [9]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

* 집합 전용 함수 : remove

In [10]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

▶ 퀴즈

---


a = [1,1,1,2,2,2,3,3,3,4,4,5,5,5,5]

리스트 a를 [5,4,3,2,1]로 바꾸려면 어떻게 해야할까요?

In [12]:
a = [1,1,1,2,2,2,3,3,3,4,4,5,5,5,5]
a = set(a)
a = list(a)
a.reverse()
a

[5, 4, 3, 2, 1]

In [13]:
'''
list1 = [1,1,1,1,2,2,2,2,4,4,4,4,5,5,5,5,5,3,3,3,3]

리스트 값이 들어있는 변수 list1을 (5,4,3,2,1) 로 변환한 후, 

set1 = set([3,4,5,6,7])

변수 set1과의 교집합, 합집합을 화면에 출력해보세요
'''
list1 = [1,1,1,1,2,2,2,2,4,4,4,4,5,5,5,5,5,3,3,3,3]
list1 = list(set(list1))
list1.sort(reverse = True)
list1 = tuple(list1)

print(list1)

set1 = set([3,4,5,6,7])

print(set(list1) & set1, set(list1) | set1)

(5, 4, 3, 2, 1)
{3, 4, 5} {1, 2, 3, 4, 5, 6, 7}